.text-neutral-80 {
    color:$neutral-80;
}

.text-neutral-100 {
    color:$neutral-100;
}

.text-primary-100 {
    color:$primary-100;
}

.bg-neutral-10 {
    background-color:$neutral-10;
}

.bg-orange {
    background-color: #FF994F;
}

.bg-gray {
    background-color: #5E5E5E;
}

.bg-pink {
    background-color: #FF9BAD;
}

.bg-deep-blue{
    background-color: #564FFD;
}

.bg-sky-blue {
    background-color: #54DFF2;
}

.bg-sky-green {
    background-color:#52E9BC;
}

.bg-purple {
    background-color: #CF93FF;
}

.bg-primary-100 {
    background-color:$primary-100;
}

.bg-deep-dark {
    background-color: #282828;
}

.py-40 {
    padding-top:2.5rem;
    padding-bottom:2.5rem;
}

.py-80 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.py-md-80 {
    @include media-breakpoint-up(md) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.py-lg-100 {
    @include media-breakpoint-up(lg) {
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
    }
}

.py-120 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.my-120 {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
}

.ms-n2 {
    margin-left: -8px;
}

.w-35 {
    width: 35%;
}

.w-65 {
    width: 65%;
}

// 100/2-gap
.w-md-45 {
       // 平板
    @include media-breakpoint-up(md) {
        width: 45%;
    }
}

// 100/3-gap
.w-lg-30 {
    @include media-breakpoint-up(lg) {
        width: 30%;
    }
}

.w-xl-25 {
    @include media-breakpoint-up(xl) {
        width: 25%;
    }
}

.border-radius-40 {
    border-radius: 2.5rem;
}

.border-radius-12 {
    border-radius: 0.75rem;
}

.border-neutral-40 {
    border:1px solid $neutral-10;
}


h2 {
    margin-bottom: 0.5rem;
    font-weight: 700;
}

p {
    font-size: 1.25rem;
    font-weight: 500;
}

.icon-color-orange {
    color: orange;
}

