.text-neutral-80 {
    color:$neutral-80;
}

.text-primary-100 {
    color:$primary-100;
}

.bg-orange {
    background-color: #FF994F;
}

.bg-gray {
    background-color: #5E5E5E;
}

.bg-pink {
    background-color: #FF9BAD;
}

.bg-deep-blue{
    background-color: #564FFD;
}

.bg-sky-blue {
    background-color: #54DFF2;
}

.bg-sky-green {
    background-color:#52E9BC;
}

.bg-purple {
    background-color: #CF93FF;
}

.bg-primary-100 {
    background-color:$primary-100;
}

.bg-deep-dark {
    background-color: #282828;
}

.py-40 {
    padding-top:2.5rem;
    padding-bottom:2.5rem;
}

.py-120 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.py-80 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.w-35 {
    width: 35%;
}

.w-65 {
    width: 65%;
}

h2 {
    margin-bottom: 0.5rem;
    font-weight: 700;
}

p {
    font-size: 1.25rem;
    font-weight: 500;
}

.icon-color-orange {
    color: orange;
}

