<footer class="bg-deep-dark mt-15 border-redius-footer">
  <!-- 手機版 -->
  <div class="container-fluid py-12 d-md-none">
    <div class="logo-list">
      <img
        class="w-50 object-fit-cover"
        src="../assets/images/logo-white.png"
        alt="logo-white"
      />
      <ul class="logo-list-content mt-10">
        <li>常見問題</li>
        <li>關於我們</li>
        <li>隱私權政策</li>
        <li>使用者條款</li>
      </ul>
    </div>

    <div class="icon-list">
      <ul class="icon-list-content">
        <li><i class="bi bi-line"></i></li>
        <li><i class="bi bi-youtube"></i></li>
        <li><i class="bi bi-facebook"></i></li>
      </ul>
      <p>copyright © 2024 LEARNING 課程網站 All Rights Reserved.</p>
    </div>
  </div>

  <!-- 平板以上 -->
  <div class="container py-md-80 py-lg-100 d-none d-md-block">
    <div class="logo-list mb-4">
      <img src="../assets/images/logo-white.png" alt="logo-white" />
      <ul class="logo-list-content mt-10">
        <li><a href="#">常見問題</a></li>
        <li><a href="#">關於我們</a></li>
        <li><a href="#">隱私權政策</a></li>
        <li><a href="#">使用者條款</a></li>
      </ul>
    </div>

    <div class="icon-list d-flex align-items-center justify-content-between">
      <p>copyright © 2024 LEARNING 課程網站 All Rights Reserved.</p>
      <ul class="icon-list-content mb-0">
        <li><i class="bi bi-line"></i></li>
        <li><i class="bi bi-youtube"></i></li>
        <li><i class="bi bi-facebook"></i></li>
      </ul>
    </div>
  </div>
</footer>
