.border-redius-footer {
    border-radius: 3rem 3rem 0 0;
}

.logo-list {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    img {
        max-width: 200px;
        max-height: 32px;
        width: 100%;
        height: 100%;
    }


    &-content {
        color: #FFF;
        font-size: 0.875rem;
        @include media-breakpoint-up(md) {
            width: 50%;
            display: flex;
            justify-content: space-between;
        }

        @include media-breakpoint-up(lg) {
            width: 35%;
        }

        @include media-breakpoint-up(xxl) {
            width: 30%;
        }

        li {
            margin-bottom: 1.5rem;
        }
    }
}

.icon-list {
    &-content {
        display: flex;
        margin-bottom: 2rem;
        li {
            color:#FFF;
            font-size: 2.5rem;
            margin-left: 1rem;
        }
        li:first-child{
            margin-left: 0;
        }
    }
    p {
        color:#FFF;
        font-size: 0.75rem;
        font-weight: 400;
    }
}